/* font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif; */
/* font-family: 'Source Serif Pro', serif; */

body{
    font-family: 'Lato', sans-serif;
	touch-action: manipulation;
	font-size:16px;
	font-weight:400;
}
button, button:focus, button:hover{
    outline:none;
}
.form-subcribe input{
    font-weight:500 !important;
    font-family: 'Lato', sans-serif;
}
.font-primary, .product-heading h3, .product-block-content h6, h4, .btn{
	font-family: 'Lato', sans-serif;	
}
.font-secondary{
	font-family: 'Poppins', sans-serif;
}
p{
	margin-bottom:0px;
}
.font-light{
	color:#777;
}
.font-small{
	font-size:14px !important;
    line-height:23px !important;
}
.font-extra-small, .team-social-i i:before, .footer-social-icon a i:before, .header-social-media i:before{
	font-size:12px !important;
    line-height: 18px;
}
.top-header, .bg-green, .product-slide .owl-nav button {
    background: #39b549 !important;
}
.text-green{
	color:#39b549;
}
.text-marun{
    color:#fb3a07;
}
.text-white, .navbar-nav-link, .top-header i:before, .team-content i:before, .custom-footer i:before, .top-header-menu a, li.last-item a, .product-slide .owl-nav button span, .overlay__desc{
	color:#fff !important;
}
.section-spacer {
	padding: 60px 0px !important;
}
.text-black, .product-tab ul li a{
	color:#000;
}

/* top header */
.top-header-menu a{
	text-transform: uppercase;
    display: inline-block;
    border-left: 1px solid #e1e1e1;
	padding: 11px 15px;
}
.top-header p {
    line-height: normal;
}
.top-header-menu a:last-child {
    border-right: 1px solid #e1e1e1;
}
/* header */
.search-block input {
    padding-right: 230px !important;
    padding-left: 20px !important;
    width: 603px !important;
}
.search-block i {
    position: absolute;
    right: 0;
    border-left: 1px solid #e1e1e1;
    height: 100%;
    padding: 15px;
}
.search-block {
    border: 2px solid #e1e1e1;
	margin-right:30px;
}
.search-block input::-webkit-input-placeholder, .form-subcribe input::-webkit-input-placeholder { /* Edge */
	color: #777;
     font-family: 'Lato', sans-serif;
     font-weight:500;
  }
  
.search-block input:-ms-input-placeholder, .form-subcribe input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #777;
     font-family: 'Lato', sans-serif;
     font-weight:500;
  }
  
.search-block input.search-block::placeholder, .form-subcribe input::placeholder {
	color: #777;
     font-family: 'Lato', sans-serif;
     font-weight:500;
}
.navbar ul li a {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
/* heading */
p {
	font-weight: 400;
    font-size: 16px !important;
    line-height: 30px;
    color: #616161 !important;
    font-family: 'Lato', sans-serif !important;
}
h1, h1 span, h1.wrap {
    font-size: 50px !important;
    line-height: 50px !important;    
    font-family: 'Source Serif Pro', serif;
    font-weight: 700;
    color: #151515;
	-webkit-animation: hue 10s infinite linear;
}
h2{
    font-size:18px;
    font-weight: 500;
}
h6{
	font-size:20px;
	font-weight:600;
}
.custom-section{
    border:1px solid #e1e1e1;
    padding:20px 15px;
    margin:30px 0px;
}
/* heading */

input[type=number] {
	-moz-appearance: textfield
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0
}
input[type=submit] {
	padding: 12px 20px;
	background: red;
	font-weight: normal;
	color: #fff;
	display: block;
	margin: 0 auto
}
input[type=submit],
input[type=button] {
	cursor: pointer;
	border: 0
}
input:focus {
	outline: none;
}
textarea {
    border: none !important;
    border-bottom: 1px solid #e1e1e1 !important;
    border-radius: 0 !important;
	height: 70px !important;
	font-style:normal !important;
}
input[type="text"],
input[type="tel"],
input[type="password"],
input[type="date"],
input[type="email"],
input[type="number"],
textarea {
	background: transparent;
	font-size: 15px;
	border: 0;
	border-bottom: 1px solid #e1e1e1;
	border-radius: 0;
	width: 100%;
	box-shadow: none;
	-webkit-appearance: none;
	color: #767676;
	padding: 10px 0px;
	font-weight:300;
}
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
	background: transparent
}
form label {
	/* color: #006db7; */
	font-size: 16px;
	display: block;
	/* font-weight: 900; */
	margin-bottom: 10px;
	/* text-transform: uppercase */
}
input:required {
	box-shadow: none
}
.user-select-none {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
}
/* heading font-size */
h4 {
    font-size: 20px;
    font-weight:600;
}
h5 {
    font-size: 22px;
}
.form-group-feedback-left .form-control {
    padding-left: 0;
}
/* heading font-size */
/* buton css */
.btn-slide, .btn-info, .menu-btn-login a {
    padding: 15px 34px;
    border: 1px solid #fff;
    color: #ffffff;
    background: transparent;
    border-radius: 30px;
	cursor: pointer;
	animation: shadow-pulse-white 2s infinite;
}
.menu-btn-login a {
    padding: 7px 34px !important;
}
.sticky .menu-btn-login a{
    background-image: linear-gradient( 
        90deg
         , #03228f 0%, #0e73e4 100%) !important;
    color:#fff;
}
.btn-theme, .btn-info, .sticky .menu-btn-login a{
	animation: shadow-blue-white 2s infinite !important;	
}
/* buton css */
.font-semibold, .navbar-nav-link{
	font-weight:600;
}
.font-bold, .typewrite{
	font-weight:700;
}
.font-medium, .section-heading h3{
	font-weight:500 !important;
}
.font-regular{
	font-weight:400;
}
.text-gray{
	color:#999;
}
.font-blue, .contact-block-row i:before{
	color:#020a6c !important;
}
/* font-boldness */
/* floating label css */
input:placeholder-shown ~ .form-control-placeholder, 
textarea:placeholder-shown ~ .form-control-placeholder{
	top: 5px;
    color: #000;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0;
}
 input ~ .form-control-placeholder, 
 .form-control:focus ~ .form-control-placeholder, 
 textarea ~ .form-control-placeholder, 
 textarea.form-control:focus ~ .form-control-placeholder {
    position: absolute;
     transition: all 0.2s linear;
     -webkit-transition: all 0.2s linear;
     -moz-transition: all 0.2s linear;
     -o-transition: all 0.2s linear;
     top:-15px;
     font-size: 13px;
     margin-left: 0;
	 color: #0b5bcb;
	 font-weight: 800;
	 text-transform: capitalize;
}
.select2-selection--single .select2-selection__placeholder{color: #838282; font-size: 15px;font-weight: 300;}
textarea ~ .form-control-placeholder, 
textarea.form-control:focus ~ .form-control-placeholder {
    top: -22px;
 }
.form-control-placeholder span.text-yellow {
	position: relative;
	top: -5px;
}
 /* floating label css */
/*================================= 3  Inputs ( #input ) =================================*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
::-webkit-input-placeholder {
	color: #343434;
	font-style: normal;
}
:-moz-placeholder {
	color: #343434;
	font-style: normal;
}
::-moz-placeholder {
	color: #343434;
	font-style: normal;
}
:-ms-input-placeholder {
	color: #343434;
	font-style: normal;
}
button::-moz-focus-inner {
	border: 0
}
:focus {
	outline: none;
}
::-moz-focus-inner {
    border: 0;
}
.bg-black{
	background-color:#000;
}
.bg-gray{
    background-color: #F6F7
}
/* update new design */
.footer-link{
    color:#666;
}
form.form-subcribe input, form.form-subcribe input:focus {
    background: #fff;
    height: 45px;
    padding: 20px;
    border-radius: 30px 0px 0px 30px;
}
form.form-subcribe button {
    border: 0;
    padding: 10px 30px;
    border-radius: 0px 30px 30px 0px;
}
section.top-section{
    background-image: url(../images/top-bg.jpg);
}

.help-block img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.flex-product img {
    width: 100px !important;
    height: 100px !important;
}
.left-panel {
    background: #fff;
    padding: 10px;
    border: 1px solid #e1e1e1;
}
section.left-panel .section-heading {
    display: flex;
}
section.left-panel .product-slide .owl-nav{
    top: -78px;
}
.section-heading {
    position: relative;
}
.section-heading {
    padding: 8px;
    position: relative;
    padding-bottom: 20px;
}
.section-heading:after {
    content: "";
    background: #39b549;
    width: 20%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
}
.section-heading:before {
    content: "";
    background: #0473db;
    width: 10%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    z-index: 9;
}
.product-block {
    border: 1px solid transparent;
    border-radius: 10px;
}
.product-block:hover{
    border-color:#e1e1e1;
}
.product-slide .owl-nav {
    position: absolute;
    top: -63px;
    right: 0;
}
.product-slide .owl-nav button span {
    font-size: 24px;
}
.product-slide .owl-nav button {
    background: #39b549 !important;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 10px;
}
.product-tab .nav-tabs .nav-item.show .nav-link, .product-tab .nav-tabs .nav-link.active {
    color: #fff;
    border-color: transparent;
    background: #39b549;
}

.cat-list {
    border: 1px solid rgba(232, 232, 232, 1);
}
.cat-list h6 {
    font-size: 16px;
    font-weight: 500;
}
.cat-list h6 {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}
.cat-items li img{
    width:20px;
}
.cat-items li{
    list-style: none;
    padding: 10px 15px;
    border-bottom: 1px solid rgba(232, 232, 232, 1);
}
.main-nav a{  
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    color: #000;
    font-weight: 500;
    font-size: 15px;
}
ul.main-nav a {
    padding: 24px 20px;
}
ul.main-nav {
    height: 54px;
    align-items: center;
    padding-left: 0;
}
.main-nav li{
    list-style: none;
}
.cat-items li span {
    color: #333;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    margin-left: 10px;
}
section.top-section {
    background: #f8f8f8;
    position: relative;
}
section.top-section:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 54px;
    border-bottom: 1px solid rgba(232, 232, 232, 1);
    border-top: 1px solid rgba(232, 232, 232, 1);
    background: #fff;
}
.cat-list {
    position: relative;
    z-index: 99;
}
ul.cat-items{
    background: #fff;
    border-bottom: 1px solid rgba(232, 232, 232, 1);
    border-top: 1px solid rgba(232, 232, 232, 1); 
}
ul.main-nav{
    position: relative;
    z-index: 99;
    background: #fff;
    border-bottom: 1px solid rgba(232, 232, 232, 1);
    border-top: 1px solid rgba(232, 232, 232, 1); 
}
.add-banner img {
    height: 445px;
    object-fit: cover;
    border-radius: 5px;
}
.add-banner {
    margin-top: 20px;
    margin-left: 18px;
}
.cat-list-header {
    padding: 15px 0px;
}
.logo-block a, ul.main-nav a {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}
li.last-item {
    position: absolute;
    right: 0;
    background: #39b549;
    height: 100%;
    display: flex;
    align-items: center;
}
.product-heading h3{
    font-size: 18px;
    font-weight: 700;
}
.top-category-block img {
    width: 170px;
    height: 170px;
    object-fit: contain;
    margin: 0 auto;
}
.top-category-block {
    border: 1px solid #e1e1e1;
}
.product-block-content h6 {
    font-size: 14px;
}
.product-block img {
    width: 200px !important;
    height: 200px;
    object-fit: contain;
    margin: 0 auto;
}
.product-slider .item{
    border:1px solid transparent; 
}
.product-slider .item:hover{
    border:1px solid #e1e1e1;
}
.add-block img {
    min-height: 210px;
    object-fit: cover;
    object-position: left;
    border: 1px solid #e1e1e1;
}
.features-block img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.in-page .cat-list ul.cat-items {
    display: none;
    position: absolute;
    top: 56px;
    width: 100%;
}
.in-page .cat-list{
    height: auto !important;
}
.in-page .cat-list:hover ul.cat-items {
    display: block;
    border: 1px solid rgba(232, 232, 232, 1);
}
.custom-footer h5 {
    font-size: 18px !important;
    letter-spacing: 0.5px;
}
/* header */
.search-block input {
    padding-right: 230px !important;
    padding-left: 20px !important;
    width: 603px !important;
}
.search-block i {
    position: absolute;
    right: 0;
    border-left: 1px solid #e1e1e1;
    height: 100%;
    padding: 15px;
}
.search-block {
    border: 2px solid #e1e1e1;
	margin-right:30px;
}
.search-block input::-webkit-input-placeholder { /* Edge */
	color: #777;
     font-family: 'Lato', sans-serif;
     font-weight:500;
  }
  
.search-block input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #777;
     font-family: 'Lato', sans-serif;
     font-weight:500;
  }
  
.search-block input.search-block::placeholder {
	color: #777;
     font-family: 'Lato', sans-serif;
     font-weight:500;
}
.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    -webkit-box-shadow: -1px 3px 5px 1px rgb(20 14 20 / 11%);
    -moz-box-shadow: -1px 3px 5px 1px rgba(20, 14, 20, 0.11);
    box-shadow: -1px 3px 5px 1px rgb(20 14 20 / 11%);
    background-color: #fff;
}
.product-slider-detail .owl-item.active.current .item {
    border: 1px solid #39b549;
    border-radius: 30px;
}
.product-detail-slide {
    display: flex !important;
    justify-content: center;
    margin-top: 30px;
}
.product-slider-detail-block h4 {
    font-size: 30px;
}
.product-list li{
    color: #363636;
}
.rate {
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.product-detail-offer-block {
    border: 1px solid #f5d47a;
    border-radius: 5px;
    padding: 10px;
}
.product-detail-offer-block img {
    height: 14px;
    width: 14px;
    position: relative;
    top: 5px;
}
.custom-table td {
    padding: 15px 25px;
}
.custom-table td:first-child {
    font-weight: 600;
}
/*  update new design end */

/*=================================== CUSTOM_ CSS END ===================================*/

/*=================================== media query css ===================================*/

@media only screen and (min-width: 300px) and (max-width: 767px) {
    .add-banner{
        margin-left: 0;
    }
    .cat-list ul.cat-items {
        display: none;
        position: absolute;
        top: 56px;
        width: 100%;
    }
    .cat-list{
        height: auto !important;
    }
    .cat-list:hover ul.cat-items {
        display: block;
        border: 1px solid rgba(232, 232, 232, 1);
    } 
    .top-header {
    display: none;
    }
    .navbar-brand img {
        width: 200px;
    }
    .add-banner img{
        height: 100%;
    }
    /* header css */
    button.navbar-toggler i:before {
        color: #fff;
    }
    button.navbar-toggler i:before {
        content: "\f00d";
    }
    button.navbar-toggler.collapsed i:before{
        content: "\f0c9";
    }
    .search-block i{
        padding: 10px;
    }
    button.navbar-toggler{
        top: 22px;
        position: absolute;
        right: 20px;
        background: #39b549;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }
    ul.main-nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        transform: translateX(-150%);
        -moz-transition: all .5s;
        -o-transition: all .5s;
        -webkit-transition: all .5s;
        transition: all .5s;
        -webkit-box-shadow: -1px 4px 5px 1px rgb(20 14 20 / 11%);
        -moz-box-shadow: -1px 4px 5px 1px rgba(20, 14, 20, .11);
        box-shadow: -1px 4px 5px 1px rgb(20 14 20 / 11%);
        border: 1px solid #e1e1e1;
        top: 0;
        z-index: 999 !important;
        padding-left: 13px !important;
    }
    .navbar-collapse.collapse.show ul.main-nav {
        transform: translateX(-0%);
        width: 80%;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        -webkit-transition: all .5s;
        transition: all .5s;
    }
    .search-block input{
        width: 100% !important;
    }
    .search-block{
        margin-right: 11px;
    }
    .search-block input{
        padding-right: 44px !important;
        padding: 8px 0px;
    }
    .main-nav a {
        display: block;
        padding: 10px 0px !important;
    }
    .main-nav {
        padding-top: 80px !important;
    }
    .navbar-brand {
        position: relative;
        z-index: 99999;
    }
     /* header css */
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

}
@media only screen and (min-width: 992px) and (max-width: 1024px) {
  
}
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
	
}
@media (min-width: 1500px) {
	.container {
		max-width: 1440px !important;
	}
}
